/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: white;
}
h1 {
  font-family: verdana, arial, sans-serif;
}
button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
.hidden {
  display: none;
}
#Button1 {
    background:lightblue;
}
#Button1:active, #Button1.lit{
    background:blue;
}
#Button2 {
    background:lightgreen;
}
#Button2:active, #Button2.lit{
    background:green;
}

#Button3 {
    background:lightpink;
}
#Button3:active, #Button3.lit{
    background:purple;
}
#Button4 {
    background:lightyellow;
}
#Button4:active, #Button4.lit{
    background:yellow;
}
#Button5 {
    background:orange;
}
#Button5:active, #Button5.lit{
    background:red;
}
#Button6 {
    background:brown;
}
#Button6:active, #Button6.lit{
    background:black;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
